In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.4.5.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
# This authenticates with Kaggle using the api key you put in your google drive
from googleapiclient.discovery import build
import io, os
from googleapiclient.http import MediaIoBaseDownload
from google.colab import auth

auth.authenticate_user()

drive_service = build('drive', 'v3')
results = drive_service.files().list(
        q="name = 'kaggle.json'", fields="files(id)").execute()
kaggle_api_key = results.get('files', [])

filename = "/root/.kaggle/kaggle.json"
os.makedirs(os.path.dirname(filename), exist_ok=True)

request = drive_service.files().get_media(fileId=kaggle_api_key[0]['id'])
fh = io.FileIO(filename, 'wb')
downloader = MediaIoBaseDownload(fh, request)
done = False
while done is False:
    status, done = downloader.next_chunk()
    print("Download %d%%." % int(status.progress() * 100))
os.chmod(filename, 600)

Download 100%.

In [ ]:
!kaggle competitions download --force -c titanic
!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
403 - Forbidden
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
403 - Forbidden

In [ ]:
!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 23.5MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 24.2MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 2.82MB/s]

In [ ]:
import pandas as pd
train_df_raw = pd.read_csv('/content/train.csv')
test_df_raw = pd.read_csv('/content/test.csv')

In [ ]:
train_df_raw

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
def do_transformations(t_df, df):
  df = df.drop("Ticket", axis=1)
  df = df.drop("Cabin", axis=1)
  df = df.drop("Name", axis=1)
  df = pd.get_dummies(df, ['Sex','Embarked'])
  df.Age = df.Age.fillna(t_df.Age.value_counts().index[0])
  df.Fare = df.Fare.fillna(t_df.Fare.value_counts().index[0])
  
  return df

In [ ]:
train_df = do_transformations(train_df_raw, train_df_raw)
test_df = do_transformations(train_df_raw, test_df_raw)

train_df = train_df.drop("PassengerId", axis=1)

In [ ]:
train_df

     Survived  Pclass   Age  ...  Embarked_C  Embarked_Q  Embarked_S
0           0       3  22.0  ...           0           0           1
1           1       1  38.0  ...           1           0           0
2           1       3  26.0  ...           0           0           1
3           1       1  35.0  ...           0           0           1
4           0       3  35.0  ...           0           0           1
..        ...     ...   ...  ...         ...         ...         ...
886         0       2  27.0  ...           0           0           1
887         1       1  19.0  ...           0           0           1
888         0       3  24.0  ...           0           0           1
889         1       1  26.0  ...           1           0           0
890         0       3  32.0  ...           0           1           0

[891 rows x 11 columns]

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score, precision_score, recall_score

skf = KFold(n_splits=5, shuffle=True)

features = train_df[train_df.columns[1:]]
labels = train_df["Survived"]

total_preds = []
total_labels = []

for train_indices, test_indices in skf.split(features, labels):
    train_features = features.iloc[train_indices, :]
    train_labels = labels.iloc[train_indices]

    test_features = features.iloc[test_indices, :]
    test_labels = labels.iloc[test_indices]

    tree = DecisionTreeClassifier(max_depth=4)
    tree = tree.fit(train_features, train_labels)
    preds = tree.predict(test_features)
    
    total_preds.extend(preds)
    total_labels.extend(test_labels)

print(accuracy_score(total_labels, total_preds))
print(precision_score(total_labels, total_preds))
print(recall_score(total_labels, total_preds))

best_model = tree

0.8159371492704826
0.8272058823529411
0.6578947368421053

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

total_preds = []
total_labels = []

for train_indices, test_indices in skf.split(features, labels):
    train_features = features.iloc[train_indices, :]
    train_labels = labels.iloc[train_indices]

    test_features = features.iloc[test_indices, :]
    test_labels = labels.iloc[test_indices]

    tree = RandomForestClassifier(max_depth=4)

    tree = tree.fit(train_features, train_labels)
    preds = tree.predict(test_features)
    
    total_preds.extend(preds)
    total_labels.extend(test_labels)
    

print(accuracy_score(total_labels, total_preds))
print(precision_score(total_labels, total_preds))
print(recall_score(total_labels, total_preds))

0.8170594837261503
0.8118466898954704
0.6812865497076024

In [ ]:
from sklearn.linear_model import Ridge,Lasso
from sklearn.metrics import r2_score
total_preds = []
total_labels = []

for train_indices, test_indices in skf.split(features, labels):
    train_features = features.iloc[train_indices, :]
    train_labels = labels.iloc[train_indices]

    test_features = features.iloc[test_indices, :]
    test_labels = labels.iloc[test_indices]

    clf = Ridge(alpha=1)

    clf = clf.fit(train_features, train_labels)
    preds = tree.predict(test_features)
    
    total_preds.extend(preds)
    total_labels.extend(test_labels)
    

print(r2_score(total_labels, total_preds))

0.2881794650560827

In [ ]:
def generate_submission_file(best_model, test_df):
  test_df2 = test_df.drop('PassengerId', axis=1)
  Y = best_model.predict(test_df2)
  
  
  submission = pd.DataFrame({
    "PassengerId": test_df["PassengerId"],
    "Survived": Y
  })
  submission.to_csv('/content/submission.csv', index=False)

In [ ]:
generate_submission_file(best_model, test_df)

In [ ]:
!kaggle competitions submit -c titanic -f /content/submission.csv -m "A test submission"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
100% 2.77k/2.77k [00:06<00:00, 432B/s]
Successfully submitted to Titanic: Machine Learning from Disaster