# Setup

First we will install kaggle command line tool. This tool enables us to download datsets and work with competitions without going to kaggle website.

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.9)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

**Connecting colab with kaggle command line tool.**

In order to do this you need to set up an API key on kaggle and put the key in your google drive.

Go to "My Account" on Kaggle. You can find this by clicking on your profile icon in the upper right hand corner of the site. Scroll down and find the API section. Click on the "Create New API Token" button and download the resulting file. Upload it to your google drive.

Then you can continue by running the code below:

In [2]:
# This authenticates with Kaggle using the api key you put in your google drive
from googleapiclient.discovery import build
import io, os
from googleapiclient.http import MediaIoBaseDownload
from google.colab import auth

auth.authenticate_user()

drive_service = build('drive', 'v3')
results = drive_service.files().list(
        q="name = 'kaggle.json'", fields="files(id)").execute()
kaggle_api_key = results.get('files', [])

filename = "/root/.kaggle/kaggle.json"
os.makedirs(os.path.dirname(filename), exist_ok=True)

request = drive_service.files().get_media(fileId=kaggle_api_key[0]['id'])
fh = io.FileIO(filename, 'wb')
downloader = MediaIoBaseDownload(fh, request)
done = False
while done is False:
    status, done = downloader.next_chunk()
    print("Download %d%%." % int(status.progress() * 100))
os.chmod(filename, 600)

Download 100%.

Now you are ready to download dataset and start building your submission. The code below will download dataset for you. 

Tip: 
1. Read more about Titanic competition on Kaggle https://www.kaggle.com/c/titanic - a good Data Scientist always tries to get familiarized with the data and the story behind it
2. Take a note where the files are saved to, you will need those paths to access them

In [3]:
!kaggle competitions download --force -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.9 / client 1.5.4)
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 10.3MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 3.16MB/s]
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 52.7MB/s]

# Exploratory Data Analysis

Load data as pandas dataframe and do some basic exploratory analysis on the data to get a feel how it looks like and what needs to be cleaned.

Tips:
1. Check which columns are not useful as features
2. Check for missing values and replace them
3. Rememebr some classifiers do not handle categorical features, convert categorical featurs to binary
4. Remember to apply same transformations to test dataset!
  * I recommend you do all transformations in one function that takes a data_frame object as parameter and returns a modified/transformed data_frame. Then you can simply call `train_df = do_transformations(train_df)` and `test_df = do_transformations(test_df)`
5. You may also want to do some features engineering, again, make sure same engineering is performed on test dataset
  * plot some graphs, see distributions
  * You can leave this step for after you submitted initial results
6. Since submission file needs `PassengerId` column, do not drop it in the `do_transformations` function!
  * But don't use it for the model, this is not an useful feature but rather an index.

In [4]:
import pandas as pd
train_df_raw = pd.read_csv('/content/train.csv')
test_df_raw = pd.read_csv('/content/test.csv')

In [5]:
train_df_raw

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [6]:
def do_transformations(t_df, df):
  df = df.drop("Ticket", axis=1)
  df = df.drop("Cabin", axis=1)
  df = df.drop("Name", axis=1)
  df = pd.get_dummies(df, ['Sex','Embarked'])
  df.Age = df.Age.fillna(t_df.Age.mean())
  df.Fare = df.Fare.fillna(t_df.Fare.mean())
  
  return df

In [7]:
train_df = do_transformations(train_df_raw, train_df_raw)
test_df = do_transformations(train_df_raw, test_df_raw)

train_df = train_df.drop("PassengerId", axis=1)

In [8]:
train_df

     Survived  Pclass        Age  ...  Embarked_C  Embarked_Q  Embarked_S
0           0       3  22.000000  ...           0           0           1
1           1       1  38.000000  ...           1           0           0
2           1       3  26.000000  ...           0           0           1
3           1       1  35.000000  ...           0           0           1
4           0       3  35.000000  ...           0           0           1
..        ...     ...        ...  ...         ...         ...         ...
886         0       2  27.000000  ...           0           0           1
887         1       1  19.000000  ...           0           0           1
888         0       3  29.699118  ...           0           0           1
889         1       1  26.000000  ...           1           0           0
890         0       3  32.000000  ...           0           1           0

[891 rows x 11 columns]

# Machine Learning

As you know there is multiple ways to build a good model. In competative ML you have to find the best algorithm for a given task. You are given training dataset and a test dataset. However, test dataset do not have labels. You will still make predicitons on test dataset but the predicted labels will be submitted to kaggle and they will assign the score based on how good your predictions were. 

All you can work with to build a model is `training.csv`.  There is multiple apporaches to use it, but the most important thin gwhen building a model is to make sure 

Tips:
1. Check what cost function is used for a given competition and use it to evaluate models
2. Try a few different algorithms and parameters
3. It's recommTo build a robust model (not overfitted) use cross validation to find the best algorithm and parameters. Then you can build the model using the best algorithm and parameters and the whole training dataset
  * Instead of building a single model on the whole dataset try submitting a model that makes a prediciton based on predictions of the models built in cross validation (for 5 fold CV you will have 5 models each correspondign to training fold)

In [9]:
from sklearn.tree import DecisionTreeClassifier

X = train_df[train_df.columns[1:]]
y = train_df["Survived"]

model = DecisionTreeClassifier()
model.fit(X,y)

best_model = model

# Submission

When you are done with selecting the best model generate a submission file. Kaggle expects a .csv file with first column being id and second predicted value. Code below defines a function that will save the submission in `/content/submission.csv` file.

In [10]:
def generate_submission_file(best_model, test_df):
  test_df2 = test_df.drop('PassengerId', axis=1)
  Y = best_model.predict(test_df2)
  
  
  submission = pd.DataFrame({
    "PassengerId": test_df["PassengerId"],
    "Survived": Y
  })
  submission.to_csv('/content/submission.csv', index=False)

You actually have to run that function to generate submission file. 
Assumptions for the code below:
1. Your best model is stored under `best_model` variable
2. You have applied all necessary transformations to `test.csv` and that data is stored in `test_df` variable
  * necessary = same as on training dataset

In [11]:
generate_submission_file(best_model, test_df)

Once the file is generated you can submit it using the command below.

Notes:
1. You have to accept competitions rules on the website!
2. You can modify the message if you want to provide more meaningful descriptions to your submissions

In [12]:
!kaggle competitions submit -c titanic -f /content/submission.csv -m "A test submission"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.9 / client 1.5.4)
100% 2.77k/2.77k [00:04<00:00, 613B/s]
Successfully submitted to Titanic: Machine Learning from Disaster